<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create post</title>
</head>
<body>
    <h2>Form for creating new post</h2>
    
    <form action="/posts" method="post">
        <input type="text" name="username" placeholder="enter your username" ><br><br>
        <textarea name="content" rows="10" cols="30" placeholder="enter your content"></textarea><br><br>
        <button>submit now</button>
    </form>
</body>
</html>